%div
  %P{:ALIGN => "CENTER", :CLASS => "msonormal"}
    %FONT{:SIZE => "4", :STYLE => "font-size: 16pt"}
      %I
        %B
          Duluth
          City Chickens
  %P{:ALIGN => "CENTER", :CLASS => "msonormal"}
    %FONT{:SIZE => "4", :STYLE => "font-size: 16pt"}
      %B
        Talking
        Points about
  %P{:ALIGN => "CENTER", :CLASS => "msonormal"}
    %FONT{:SIZE => "4", :STYLE => "font-size: 16pt"}
      %B
        Raising
        Backyard Chickens
  %P{:CLASS => "msonormal"}
    %BR
      %BR
  %P{:CLASS => "msonormal", :STYLE => "margin-bottom: 0.08in"}
    %FONT{:SIZE => "4", :STYLE => "font-size: 16pt"}
      %B
        Legislative
        Issues
  %P{:CLASS => "msonormal", :STYLE => "margin-bottom: 0.04in"}
    %B
      Current Zoning
      Code
    allows chickens in suburban zones, but the code is unclear
    about residential zones. The proposed amendment to the Zoning Code
    would add language that would allow chickens in residential zones.
    (Note #1: Residents in rental buildings would have to get permission
    from their landlord.)
    %BR
      (Note #2:
      %I Duluth City Chickens
      is
      okay with excluding commercial zones.)
  %P{:CLASS => "msonormal", :STYLE => "margin-bottom: 0.04in"}
    %B
      Chapter 6 of
      the City Code
    contains regulations for ¬animals and fowl® in
    the city. This is where the details are spelled out, such as how many
    chickens are allowed, what kind of permit is needed, etc. The citys
    animal control officer, Carrie Lane, is working on revising this
    chapter. She will add appropriate language regulating chickens in
    residential zones.
  %P{:CLASS => "msonormal", :STYLE => "margin-bottom: 0.04in"}
    The
    %B
      City
      Council
    = succeed "." do
      %B
        will have to review and approve the revisions to
        Chapter 6
    Carrie Lane hopes to have this ready for Council
    review in late July. The Council will not be asked to vote on the
    amendment to the Zoning Code until the revised Chapter 6 is ready.
  %P{:CLASS => "msonormal", :STYLE => "margin-bottom: 0.04in"}
    %I
      Duluth City
      Chickens
    representatives have worked with animal control officer
    Carrie Lane, as well as Chuck Froseth of the Planning Department, to
    create the regulations for raising chickens in residential areas.
    %B
      We
      are working with and support the efforts of the animal control
      officer.
  %P{:CLASS => "msonormal", :STYLE => "margin-bottom: 0.04in"}
    Both the Zoning
    Code and Chapter 6 will make it clear that
    %B no roosters
    are
    allowed (only hens), and that chickens may be raised in residential
    zones
    %B only for domestic use and consumption
    (in other words,
    no egg-selling businesses will be allowed). It will also require that
    %B chickens must be
    %B kept in an
    = succeed "." do
      %B enclosed area
  %P{:CLASS => "msonormal", :STYLE => "margin-bottom: 0.04in"}
    %B>
      A permit will
      be required
    \. The process for obtaining the permit will be similar
    to that for dogs and cats. It will cost $8 (the same as other animal
    permits currently cost.)
    %B
      This fee will contribute to paying the
      animal control officer to enforce the regulations.
  %P{:CLASS => "msonormal", :STYLE => "margin-top: 0.17in; margin-bottom: 0.08in"}
    %FONT{:SIZE => "4", :STYLE => "font-size: 16pt"}
      %B
        Questions Often Asked About
        Raising Chickens (and some answers)
  %P{:CLASS => "msonormal", :STYLE => "margin-bottom: 0.04in"}
    %B
      Are not
      chickens messy and smelly?
    Good maintenance practices ± such as
    cleaning out the coop regularly, keeping it dry, and having a
    clean/dry area of sand or dirt for the birds to take dust baths in ³
    keep the birds happy, healthy, and odor free.
    %U
      A chicken that is
      properly cared for is just as clean as a dog or house bird.
  %P{:CLASS => "msonormal", :STYLE => "margin-bottom: 0.04in"}
    %B>
      Is there
      enough space in a small backyard?
    Domestic chickens have few if
    any needs that cant be met in a small yard by a conscientious
    caretaker. An enclosed shelter that gives 3 to 4 square feet per
    large adult bird, and that provides protection from the elements and
    predators is a fine space. A run or movable pen (a place for them to
    scratch around) that allows for occasional outdoor exposure is
    optimal for the health of the chicken. So,
    = succeed "." do
      %U
        for four hens, a 3'x4'
        coop plus a run that is roughly 3'x8' is more than adequate
  %P{:CLASS => "msonormal", :STYLE => "margin-bottom: 0.04in"}
    %B
      Arent roosters
      necessary for hens to lay eggs?
    = succeed "." do
      %U
        Hens lay eggs without the help
        of roosters
    Roosters are only necessary if you want fertilized
    eggs.
  %P{:CLASS => "msonormal", :STYLE => "margin-bottom: 0.04in"}
    %B
      But what about
      winter?
    = succeed "." do
      %U
        Chickens can live quite happily, through the coldest
        winter, if they have an insulated coop or a light (for heat) inside
        their coop
    The smaller the coop, the easier it is for them to
    keep it warm. Some breeds are hardier than others, and by choosing
    the right breed for the climate, the birds survive winters just fine.
  %P{:CLASS => "msonormal", :STYLE => "margin-bottom: 0.04in"}
    %B
      Dont chickens
      attract ¬vermin®?
    = succeed "." do
      %U
        Maintaining a clean operation minimizes
        the chance of attracting vermin
    Feeding only what the chickens
    will eat up completely ensures that no food will be left on the
    ground to attract unwanted animals such as skunks. Storing feed in
    metal containers also helps reduce the chance of attracting unwanted
    pests. Proper composting of chicken litter (or litter removal) and
    keeping property clear of nesting areas for pests are also good
    preventative measures.
  %P{:CLASS => "msonormal", :STYLE => "margin-bottom: 0.04in"}
    %B
      Are chickens a
      health hazard?
    %U
      According to the Minnesota Department of Health
      there are no health concerns regarding backyard flocks because they
      involve such a small number of birds.
    Chickens raised in clean,
    well maintained conditions are healthy birds. Backyard flocks are
    usually checked at least once or twice daily by their owners, and if
    something is not right with a flock, it is noticed right away, In
    addition, backyard flocks are isolated from other flocks and from
    wild birds and do not contribute to spreading disease.
  %P{:CLASS => "msonormal", :STYLE => "margin-bottom: 0.04in"}
    %B
      Does the state
      require permits to keep chickens in urban areas?
    %U
      No permits
      are required for backyard flocks
    from the Ag dept or the Health
    Department or the Board of Animal Health in MN because they are
    primarily smaller scale (pet scale production!) and for home
    consumption and use.
  %P{:CLASS => "msonormal", :STYLE => "margin-top: 0.17in; margin-bottom: 0.08in"}
    %FONT{:SIZE => "4", :STYLE => "font-size: 16pt"}
      %B
        Why Do People Want to Raise
        Chickens in Residential Areas?
  %P{:CLASS => "msonormal"}
    %B Raising backyard chickens is
    %B
      a
      productive hobby for urban dwellers
  %P{:CLASS => "msonormal", :STYLE => "margin-left: 0.83in"}
    Growing and eating
    ones own food is healthy and helps to reduce the carbon footprint of
    our food supply. Its more sustainable than transporting food long
    distances.
  %P{:CLASS => "msonormal", :STYLE => "margin-left: 0.83in"}
    Chickens are great
    recyclers ³ they use up kitchen scraps (reduce waste) and turn them
    into fertilizer for the garden (help produce more food!).
  %P{:CLASS => "msonormal", :STYLE => "margin-left: 0.83in"}
    Backyard chickens
    provide the best tasting, freshest eggs. With the rising cost of
    food, many people want to be able to raise as much of their own food
    as possible.
  %P{:CLASS => "msonormal", :STYLE => "margin-left: 0.83in"}
    Chickens can bring
    neighbors together ± they bring their children, grandchildren, and
    friends over to see the chickens. Neighbors get interested in taking
    care of the backyard flock and intergenerational friendships grow,
    children learn about food, biology, geography, and community.
  %P{:CLASS => "msonormal", :STYLE => "margin-left: 0.83in"}
    Chickens are
    entertaining and enjoyable. Many breeds are quite fanciful and full
    of interesting personality and character!
  %P{:CLASS => "msonormal"}  
  %P{:CLASS => "msonormal"}
    %B
      Raising backyard chickens is a good family
      activity
  %P{:CLASS => "msonormal"}
    Raising chickens is part of a healthy lifestyle
    that can help build awareness of healthy food and good eating habits
    in a positive and engaging way for children and their families. Its a
    fun way to approach solutions for childhood obesity and sedentary
    lifestyles.
  %P{:CLASS => "msonormal"}
    Families can spend some quality time together
    taking care of and enjoying their chickens. Children love feeding
    them and watching them!
  %P{:CLASS => "msonormal"}
    Raising a few chickens gives children another
    opportunity to connect with where our food comes from. They learn
    that eggs come from chickens, not from the store.
  %P{:CLASS => "msonormal"}
    Chickens help improve soil fertility, and are
    great at tilling the garden.
  %P{:CLASS => "msonormal", :STYLE => "margin-top: 0.17in; margin-bottom: 0.08in"}
    %FONT{:SIZE => "4", :STYLE => "font-size: 16pt"}
      %B Other Useful Points
  %P{:CLASS => "msonormal"}
    Education, support, and workshops are available
    to beginners; lots of experienced people in the area are willing to
    share their knowledge and act as mentors.
  %P{:CLASS => "msonormal"}
    Sustainable Farming Association and Duluth
    Community Garden Program are supportive of allowing chickens in
    residential areas and can provide information for chicken owners.
  %P{:ALIGN => "CENTER", :CLASS => "msonormal", :STYLE => "margin-top: 0.17in"}
    %FONT{:SIZE => "2", :STYLE => "font-size: 11pt"}
      %B
        Prepared
        by
    %FONT{:SIZE => "2", :STYLE => "font-size: 11pt"}
      %I
        %B
          Duluth City
          Chickens
    %FONT{:SIZE => "2", :STYLE => "font-size: 11pt"}
      %B
        , June
        2008 (www.duluthcitychickens.org.)